body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a0dad; /* Viola */
    height: 100vh;
    color: white;
  }
  
  .photo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
  }
  
  .name-container {
    flex: 2;
    text-align: center;
  }
  
  .name {
    font-size: 3rem;
    font-weight: bold;
  }